.app.light {
    --bg-color: #96B6C5;
    --inverted-bg-color: #03001C;
    --primary-color: #FFC95F;
    --secondary-color: #F1F0E8;

    --inverted-primary-color: #B6EADA;
    --inverted-secondary-color: #301E67;
}